/* class container  */
.container {
    background-color: #c4c4c4;
}
/* class head */
.head{
    background-image: url("images/mypic.jpeg");
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.head h1 span {
    display: block;
}


/* projects section */
.paragraphs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.projects{
    width: 100%;
    padding: 1rem;
    text-align: left;
}





/* education */
.education-part p span {
    display: block;
}