/* class container  */
.container {
    background-color: #c4c4c4;
}
/* class head */
.head{
    background-image: url("images/mypic.jpeg");
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.head h1 span {
    display: block;
}


/* education */
.education-part p span {
    display: block;
}