/* class container  */
.container {
    background-color: #c4c4c4;
}
/* class head */
.head > h1{
    background-image: url("images/mypic.jpeg");
    height: 50vh;
    align-items: center;
    justify-content: center;
}